<div class="container mt-5">
  <h1 class="text-center mb-5">Simulation d'une population d'arbres</h1>
  <div id="input">
    <div class="row justify-content-center">
      <div class="col-md-3 col-lg-2 mt-1">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">x</div>
          </div>
          <input type="number" class="form-control" name="x" [(ngModel)]="x" min="1" max="250" [disabled]="started">
        </div>
      </div>
      <div class="col-md-3 col-lg-2 mt-1">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">y</div>
          </div>
          <input type="number" class="form-control" name="y" [(ngModel)]="y" min="1" max="250" [disabled]="started">
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 col-lg-2 mt-1">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">dt(ms)</div>
          </div>
          <input type="number" class="form-control" name="dt" [(ngModel)]="interval" min="100" [disabled]="started">
        </div>
      </div>
      <div class="col-md-3 col-lg-2 text-center mt-1">
        <button class="btn btn-outline-secondary w-100" type="button" (click)="toggle()">{{started ? "Stop" : "Start"}}</button>
      </div>
    </div>
  </div>
</div>

<div id="display" class="w-100 mt-4 mb-5 px-1">
  <table class="mx-auto">
    <tbody>
      <tr *ngFor="let row of map">
        <td *ngFor="let el of row" [class]="'frame ' + getState(el)"></td>
      </tr>
    </tbody>
  </table>
</div>