.help {
  cursor: pointer;
}

.frame {
  width: 1.5em;
  height: 1.5em;
  border: solid black 0.08em;
}

.legend {
  width: 1em;
  height: 1em;
  border: solid black 0.08em;
}

.wall {
  background-color: grey;
}

.end {
  background-color: greenyellow;
}

.start {
  background-color: red;
}

.opened {
  box-shadow: 0 0 0 0.2em blueviolet inset;
}

.visited {
  box-shadow: 0 0 0 0.2em lightsalmon inset;
}

.path {
  box-shadow: 0 0 0 0.2em cyan inset;
}

.water {
  background-color: lightskyblue;
}

.mount {
  background-color: lightgrey;
}

.forest {
  background-color: forestgreen;
}

.grass {
  background-color: darkseagreen;
}
.road {
  background-color: sienna;
}
