<div class="container mt-5">
  <div class="row mb-5">
    <h2 class="mx-auto">Bienvenue sur l'application de ToDoList</h2>
  </div>
  <div class="row">
    <p class="col-12 col-md-8 mx-auto">
      Ceci est une application servant d'exemple réalisée dans le cadre d'un rapport de stage à faire pour l'Ecole Centrale de
      Nantes.
    </p>
    <p class="col-12 col-md-8 mx-auto">
      Elle existe seulement à titre d'exemple et ne prétend pas être la seule manière de coder en Angular. Elle représente ma manière
      de travailler sur ces 4 mois de stage et regroupe les quelques connaissances que j'ai pu acquérir pendant cette période de stage
    </p>
  </div>

</div>